
.App {
  text-align: center;
  width: 90vw;
  display: flex;
  justify-content: center;

  .cyber-dressing {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
